.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}

@media only screen and (max-width:523px) {
    section.filters button {
        margin-left: auto;
        width: 40%;
        margin-right: 10px;
    }
}

.filters button:hover {
    opacity: 90%;
}

section.filters .locations,
section.filters .amenities {
    height: 100%;
    width: 25%;
    cursor: pointer;
}

@media only screen and (max-width:523px) {

    section.filters .locations,
    section.filters .amenities {
        display: none;
    }
}

.filters .locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

section.filters .locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

section.filters .locations>* {
    padding-left: 30px;
}

section.filters .amenities>* {
    padding-left: 30px;
}

section.filters .amenities {
    margin-right: auto;
}

section.filters .locations {
    border-right: 1px #DDDDDD solid;
}



/* 
===================================
    locations/amenities hover
===================================
 */
.filters .locations ul,
.filters .amenities ul {
    background-color: #FAFAFA;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 0px 0px 4px 4px;
    padding: 10px 0px 10px 0px;
    display: none;
}

.locations:hover ul,
.amenities:hover ul {
    display: block;
}

ul.popover li {
    padding-left: 15px;
    padding-bottom: 10px;
}

.popover li h2 {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.popover li .sub-list {
    flex-direction: column;
    display: flex;
    margin: 0px 12px;
    font-weight: 100;
}

.amenities .popover li {
    margin-left: -10px;
}
